<!-- filepath: /home/manoel-ssd2/Documentos/projetos/portal-empregos/job_board-rails/app/views/pages/job_listings/_form.html.erb -->
<%= simple_form_for(pages_job_listing, html: { class: "contents" }) do |form| %>
  <% if pages_job_listing.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2>
        <%= pluralize(pages_job_listing.errors.count, "error" ) %> prohibited this pages_job_listing from being saved:
      </h2>
      <ul class="list-disc ml-6">
        <% pages_job_listing.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :title, input_html: { class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :salary, input_html: { class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :body, as: :rich_text_area, input_html: { class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :company, input_html: { class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :location, input_html: { class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :meta_image, as: :file, input_html: {class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :bunner_image, as: :file, input_html: {class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :tags, input_html: { class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full" } %>
  <%= form.input :user_id, input_html: { class: "shadow-sm rounded-md border px-3 py-2 mt-2 w-full"} %>

  <div class="inline">
    <%= form.button :submit,
      class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer"%>
  </div>
<% end %>